.theme-login-dark, .theme-login-dark input, .theme-login-dark input{
    border-radius: 15px !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.theme-sidebar-dark{
    background-color: #0f0027;
    margin: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.theme-shape-dark:nth-child(1){
    z-index: 1;
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, rgba(28, 24, 60, 0.5), rgb(22, 136, 151));
    margin-left: -160px;
    margin-top: -50px;
    position: absolute;
    transform:  rotate(45deg);
    border-radius: 20px;
    border: rgb(243, 243, 243, 0.5) solid 1px;
}

.theme-shape-dark:nth-child(2){
    z-index: 3;
    width: 500px;
    height: 500px;
    background: linear-gradient(to right, rgba(22, 136, 151), rgba(24, 51, 205, 0.5));
    margin-left: 300px;
    margin-top: 100px;
    position: absolute;
    transform:  rotate(45deg);
    border-radius: 20px;
    border: rgb(243, 243, 243, 0.5) solid 1px;
}

.theme-shape-dark:nth-child(3){
    z-index: 2;
    width: 500px;
    height: 500px;
    background: rgb(255, 255, 255, 0.5);
    margin-left: 330px;
    margin-top: 70px;
    position: absolute;
    transform:  rotate(45deg);
    border-radius: 20px;
    border: rgb(243, 243, 243, 0.5) solid 1px;
}


.theme-sidebar-img-dark{
    border: 1px solid #c29dff;
    background-color: #250061 !important;
    border-radius: 15px !important;
}

.theme-nav-item-dark li a, .theme-nav-item-dark li a i, .theme-nav-item-dark div h5{
    color: #c29dff;
}

.theme-nav-item-dark li a{
    border-radius: 15px !important;
}

.theme-card-dark, .theme-nav-top-dark{
    background-color: #f0f0f0 !important;
    padding: 20px;
    border-radius: 15px;
    box-shadow: #bdafd3 0px 1px 4px !important;
}

.theme-dashboard-dark, .theme-isp-config-dark{
    box-shadow: #bdafd3 0px 1px 4px !important;
}

.theme-nav-top-dark{
    margin: 20px;
    margin-top: 15px;
    margin-bottom: -10px;
}

.modal-content{
    border-radius: 15px !important;
    padding: 5px;
    padding-top: 15px;
    background-color: #ffffffd7 !important;
}

.modal-content input, .modal-content select, .modal-content textarea, .modal-content button{
    border-radius: 20px;
}

.modal-content button{
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: #bdafd3 0px 1px 4px !important;
}

.btn{
    border-radius: 20px;
    box-shadow: #bdafd3 0px 1px 4px !important;
}